.html {
	font-family: Times;
	font-size: 80;
	-webkit-tap-highlight-color: lightblue;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.body {
	font-size: 18px;
	margin: 0;
	font-family: Times, Arial;
	line-height: 1.429;
	color: blue;
	background-color: lightgreen;
}

footer,
nav {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Times, Arial;
}

h1 {
	line-height: 45px;
	font-weight: 800;
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
	color: black;
	text-shadow: 1px 1px 1px rgba(0,0,0.5,0.5);
}

h2 {
	line-height: 49px;
	padding-bottom: 15px;
}

h3 {
	line-height: 29px;
	padding-bottom: 19px;
}

h4 {
	padding-top: 30px;
	line-height: 30px;
	padding-bottom: 1px;
	font-size: 20px;
	font-weight: 800;
}

p {
	font-weight: 400;
	line-height: 40px;
	padding-bottom: 12px;
}

.text-center {
	text-align: center;
}

.heading-padding {
	padding-bottom: 30px;
}

.section {
	padding-top: 40px;
	margin-top: 70px;
}

.navbar {
	height: 100px;
	max-height: 300px;
	display: block;
}

.container {
	padding-right: 13px;
	padding-left: 13px;
	margin-right: auto;
	margin-left: auto;
}

.container-fluid {
	padding-right: 13px;
	padding-left: 13px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.clearfix:after,
.container:after,
.navbar:after {
	clear: both;
	display: table;
	content: " ";
}

.wrap {
	height: 100%;
	width: 100%;
	position: absolute;
	/* Ensures images not render outside container without forcing scrollbars*/
	overflow: hidden;
	top: 0;
	left: 0;
	text-align: center;
}
	
.menu-container {
	max-height: 330px;
	margin: 0% auto;
	content: " ";
	/* top: 0;
	left: 0; */
	/* position: absolute; */ /* to the top edge of the screen */
	width: 100%;
	position: fixed;
	z-index: 100%
	/*background-color: lightblue;*/
}

#home {
	background: url(oranges.jpg) no-repeat 50% 50%;
	background-color: lightblue;
	background-attachment: fixed;
	-webkit-background-size:cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	display: block;
	height: auto;
	padding-top: 330px;
	padding-bottom: 450px;
	color: white;
	z-index:0;
}

.head-main {
	text-shadow: 1px 1px 1px rgba(0, 0, 0.5, 0.5);
	font-variant: small-caps;
	color: blue;
	letter-spacing: 4pt;
	word-spacing: 20pt;
	font-size: 4cm;
	text-align: left;
	font-family: Times;
	font-weight: 950;
	padding: 9px;
	z-index:1;
}

.head-sub-main{
	font-size: 20px;
	font-weight: 700;
	padding: 40px 30px 20px 10px;
	text-transform: uppercase;
}

.head-last {
	font-size: 17px;
	font-weight: 850;
	padding: 7px 10px 11px 13px;
	border: 4px solid orange;
	padding: 3px
}

.photo {
	position: relative;
	line-height: 0;
	margin-bottom: 2em;
	overflow: hidden;
	border-radius: 1px;
	padding: 1px;
	border: 4px solid orange;
	background-color: green;
	box-shadow: 1px 1px 1px 1px;
	z-index: 0;
}

.photo-container {
		text-align: center;
		margin: 12px auto;
		width: 500px;
		height: 100%;
}

.photo-overlay {
	color: blue;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: center;
	align-items: center;
	background: lightblue;
}

.white-head {
	color: #C9BDAA;
	margin-top: 5%;
}

.photo-overlay {
	opacity: 0;
	transition: opacity .5s;
	border-radius: 10px;
}

.photo-overlay:hover {
	opacity: 1;
}

.photo img{
	transition: transform .5s;
	transform-origin: 50% 50%;
}

.photo:hover img {
	transform: scale(1.1);
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	padding: 12px;
	border-radius: 7px;
	margin: 1px auto;
	background-color: lightblue;
	box-shadow: 1.5px 1.5px 7px 0 rgba(0,0,0.3,0.3);
}

#contact {
	background-color: lightgreen;
}

.reservation {
	width: 80%;
	padding: 11px;
	border-radius: 7px;
	margin: 1px auto;
	background-color: lightblue;
	box-shadow: -0.5px -0.5px 0.5px 0 rgba(0,0,0,0.3), 2px 1px 9px 0 rgba(0,0,0,0.4);
}

.reservation h2 {
	width: 70%;
	text-align: center;
	margin: 0 auto;
	color: black;
	font-weight: 600;
	font-size: 1em;
	letter-spacing: 1pt;
	word-spacing: 0pt;
}

.reservation h2 span {
	width: 70%;
	text-align: center;
	margin: 0 auto;
	color: green;
	font-weight: 950;
	font-size: 1cm;
	font-variant: small-caps;
	letter-spacing: 0.5pt;
	word-spacing: 0.5 pt;
}
	
.reservation p {
	color: black;
	width: 40%;
	margin: 0 auto;
}

.reservation form {
	font-size: 13px;
	outline: none;
	font-weight: 500;
	color: blue;
	padding: 11px 11px;
	width: 80%;
	border: 1px solid blue;
	margin: 1% auto;
	border-radius: 6px;
	background: lightblue;
	font-family: Arial;
}

.reservation input[type="text"] {
	font-size: 13px;
	outline: none;
	font-weight: 500;
	color: blue;
	padding: 1% 2% 1% 5%;
	width: 90%;
	border-top: 1px solid blue;
	border-right: 1px solid black;
	border-bottom: 1px solid green;
	border-left: 1px solid gold;
	margin: 11px 1.5cm;
	border-radius: 6px;
	background: lightblue;
	font-family: Arial;
}
	
.form-spacer {
	padding: 24px 30px;
}

.terms {
	margin: 40px 2px 3px 3px ;
	padding-left: 50px;
	font-size: 12px;
	line-height: 4px;
	color: blue;
	font-family: Arial;
	font-weight: 700;
	position: relative;
	display: inline;
	float: right;
}

.terms:hover {
	color: green;
	text-decoration: underline;
}

.submit input {
	color: blue;
	border: none;
	font-weight: 800;
	outline: none;
	text-align: center;
	font-family: Arial;
	margin: 1px 2%;
	padding: 5px 1px;
	width: 30%;
	font-size: 11px;
	transition: border-color 0.2s color 0.2s background-color 0.2s;
	border-radius: 6px;
	background-color: lightblue;
	box-shadow: 0.5px 0.5px 0.5px 0 rgba(0,0,0,0.4);
}

.submit input[type="submit"] :hover {
	color: orange;
	background-color: blue;
}

#footer {
	background-color: lightblue;
	color: blue;
	padding: 10px 40px 10px 10px;
	text-align: right;
}

@media all and (maxwidth: 600px) and (min-width: 380px) {
	.head-main {
		font-size: 30px ;
	}
}

@media(min-width: 768px) {
	.container {
		width: 750px ;
	}
}

@media(min-width: 992px) {
	.container {
		width: 970px ;
	}
	
@media(min-width: 1200px) {
	.container {
		width: 1170px ;
	}
	
	/*These are from w3schools*/
	.row > .column { 
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}